{
	"extends": ["@nuxt", "plugin:prettier/recommended", "prettier"],
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"vue/multi-word-component-names": "off",
		"@typescript-eslint/no-unused-vars": "off"
	}
}
